/* BASE STYLES
============================================================================= */

html 			{height:100%;}

html body {
	background: url("images/default.jpg"); 
    background-size:cover;
	height:80%;
}

.flex			{display:flex;}
.flex--center	{justify-content:center;}
.flex--column	{flex-direction:column;}

/* SECTION STYLES
============================================================================= */


/*---------------- Container -------------------- */

#container {
	text-align:center;
	background-color:rgba(255, 255, 255, .80);
	border-radius:20px;
	box-shadow:0px 0px 35px black;
}

.section_container--position-center {
	margin:0 auto;
	max-width:625px;
}
.section_container--position-vertical {
	position:relative;
	top:60%;
	transform:translateY(-50%);
}

.container--font-style-bold			{font-weight:600;}

/*---------- Temperature Information ------------ */

.container_temp-info--padding-top	{padding-top:2rem;}
.container_temp-info--font-size		{font-size:2rem;}

.container_temp-info-weather-icon--position {
	position:relative;
	right:3rem;
}

.container_temp-info-weather-icon--size {
	height:40px;
	width:50px;
}

/*-------Temp slider -------*/

/* Hide default checkbox */
.switch input {
	display:none;
}

/*--switch CSS--*/
.switch {
	position:relative;
	display:inline-block;
	width:50px;
	height:20px;
}
.temp-slider--position-left{
	position:relative;
	left:3.5rem;
}

/* The slider */
.temp-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #919191;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius:34px;
}

.temp-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  border-radius:34px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .temp-slider {
  background-color: #323232;
}

input:focus + .temp-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .temp-slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}


/*---------------- Weather Information ------------------ */


#weather-description					{text-transform:capitalize;}
.container_weather-info--margin-right	{margin-right:1.5rem;}
.container_weather-info--padding-top	{padding-top:1rem;}


/*---------------- Icon Links ------------------ */

i 	 {font-size:2.5rem; margin-right:.5rem;}

.container_author--font {
	font-size:.8rem;
	font-style:italic;
	font-weight:600;
	padding-bottom:1.5rem;
	margin-bottom:.1rem;
}

.section-image-credit {/*sort hover effect issue */
	color:white;
	text-decoration:none;
	padding:2px 4px;
	display:inline-block;
	border-radius:3px;
	position:absolute;
	top:96%;
	font-size:.8rem;
}


/*---------------- City Buttons ------------------ */

button{
	position:relative;
	margin:.75rem .5rem;
	width:150px;
	border-radius:10px;
	background-color:rgba(50,50,50, .6);
	border:none;
	color:white;
	font-size:.8rem;
	transition:all ease-in-out 400ms;
}

button:hover{
	background-color:rgba(76,175,80, .8);
}