i {
	font-size:2.5rem;
}
button{
	position:relative;
	margin:.5rem .25rem;
	width:120px;
	border-radius:10px;
	background-color:rgba(50,50,50, .4);
	border:1px solid rgba(50,50,50, .4);
	color:white;
	font-size: .8rem;
}
button:hover{
	background-color:rgba(76,175,80, .8);
	transition: all ease-in-out 400ms;
}
.vertical-align{
	position:relative;
	top:45%;
	transform:translateY(-50%);
	width:50%;
}
.app-container {
	background-color:rgba(255, 255, 255, .60);
	border-radius:20px;
	box-shadow:0px 0px 35px black;
}
.font-style--author{
	font-size:.8rem;
	font-style:italic;
	padding-bottom:1.5rem;
	margin-bottom: .1rem;
}
.font-style--bold{
	font-weight:500;
}
.margin-top--xl{
	padding-top:2rem;
}
.margin-right--xl{
	margin-right:3rem;
}
.margin-right--xs{
	margin-right:.25rem;
}
.margin-right--m{
	margin-right:1rem;
}
.font-style--title{
	font-weight:300;
}
.font-size--degrees{
	font-size:2rem;
}
.flex{
	display:flex;
	justify-content:center;
}
.flex-column{
	flex-direction:column;
}
.spacing{
	margin: 1.25rem 1rem;
}
#weather-icon{
	height:40px;
	width:50px;
}
#weather-description{
	text-transform:capitalize;
}
/*--image covers entire page--*/
html,
body,
.view {
    height: 100%;
}
.view {
    background: url("images/ales-krivec-1336.jpg");
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
/*--image credit--*/
#image-credit{
	color:white;
	text-decoration:none;
	padding:2px 4px;
	display:inline-block;
	border-radius:3px;
	position:absolute;
	top:96%;
	font-size:.8rem;
}