/*--image covers entire page--*/
html,
body,
.view {
    height: 100%;
}
.view {
    background: url("../images/default.jpg");
    background-size:cover;
}
/*--image credit--*/
.background-text--image-credit{
	color:white;
	text-decoration:none;
	padding:2px 4px;
	display:inline-block;
	border-radius:3px;
	position:absolute;
	top:96%;
	font-size:.8rem;
}
.background-paris{
	background: url("../images/paris.jpg");
    background-size:cover;
	transition: all 3s ease;
}
.background-tokyo{
	background: url("../images/tokyo.jpg");
    background-size:cover;
	transition: all 3s ease;
}
.background-los_angeles{
	background: url("../images/los_angeles.jpg");
    background-size:cover;
	transition: all 3s ease;
}
.background-dubai{
	background: url("../images/dubai.jpg");
    background-size:cover;
	transition: all 3s ease;
}
.background-new_york{
	background: url("../images/new_york.jpg");
    background-size:cover;
	transition: all 3s ease;
}
.background-london{
	background: url("../images/london.jpg");
    background-size:cover;
	transition: all 3s ease;
}